.letter {
  display: inline-block;
  margin: 0.2em;
  padding: 0.2em;
  border: 1px solid black;
  background-color: blue;  
}

.red {
  display: inline-block;
  margin: 0.2em;
  padding: 0.2em;
  border: 1px solid black;
  background-color: brown;  
}

.green {
  display: inline-block;
  margin: 0.2em;
  padding: 0.2em;
  border: 1px solid black;
  background-color: green;  
}
