.window {
  position: absolute;
  display: block;
  top: 50%;
  left: 65%;
  z-index: 2;
  transform: translate(-65%, -50%);
}

.btnreload button {
  position: absolute;
  top: 10%;
  left: 50%;
  z-index: 3;
  transform: translate(-50%, -20%);
  font-size:2vw;
}

.LetterBoard {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: block;
  font-size: 10vw;
}

.divb {
  position: absolute;
  width: 40vw;
  top: 50%;
  left: 70%;
  transform: translate(-70%, -50%);
  z-index: 2;
}