button {
  margin: 0.5em;
  padding: 0.5em;
  background: blue;
  color: aliceblue;
  user-select: none;
  border: none;
}

input {
  margin: 0.5em;
  padding: 0.5em;
  background: aliceblue;
  color: blue;
  border: none;
  width: 78%;
}

.ellementPosition {
  position: absolute;
  top: 67%;
  left: 60%;
  transform: translate(-35%, -50%);
}

.errorMess {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-60%, -400%);
  background:black;
  color:red;
}

button, input, .errorMess {
  font-size:1.5vw;
  font-family: 'Black And White Picture', sans-serif;
}

@media only screen and (max-width: 5500px) {
  .ellementPosition button, input, .errorMess{
    font-size:0.7vw;
  }
} 

@media only screen and (max-width: 3700px) {
  .ellementPosition button, input, .errorMess{
    font-size:1vw;
  }
} 

@media only screen and (max-width: 2450px) {
  .ellementPosition button, input, .errorMess{
    font-size:1.5vw;
  }
} 


