.container {
  position: relative;
  text-align: center;
  color: white;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  z-index: 2;
}

img { 
  display: block;
  width: 100%;
  /* width: 100vw; 
  height: 100vh; */
  opacity: 1;

}

.game {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Black And White Picture', sans-serif;
  font-size: 3vw;
  color: aliceblue;
  margin:0;
  padding: 0;
  height:90vh;
}
